name: automerge
on:
  workflow_run:
    types:
      - completed
    workflows:
      # List all required workflow names here.
      - 'Python package'
jobs:
  automerge:
    runs-on: ubuntu-latest
    steps:
      - name: automerge
        uses: "pascalgn/automerge-action@v0.14.2"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
